# 03

In [ ]:
# Google Colaboratoryの環境設定
!pip install pandarallel | tail -n 1

## 3.1 入門

### 3.1.1 数値

In [ ]:
0x10
#> 16

In [ ]:
1.23e5
#> 123000.0

In [ ]:
2 * 3
#> 6

In [ ]:
10 / 3
#> 3.3333333333333335

In [ ]:
10 // 3 # 商
#> 3

10 % 3  # 余り
#> 1

### 3.1.2 変数

In [ ]:
x = 2
y = 3
x * y
#> 6

x, y = 20, 30 # まとめて名付け
x * y
#> 600

In [ ]:
x = 1 + 1
# この段階では結果は表示されない

x # 変数名を評価する．
#> 2

### 3.1.3 文字列

In [ ]:
my_s = 'abcde'

In [ ]:
len(my_s)
#> 5

In [ ]:
'This is' ' a' ' pen.'
# あるいは
'This is ' + 'a' + ' pen.'
#> 'This is a pen.'

In [ ]:
my_s[1:4]
#> 'bcd'

In [ ]:
tmp = "{} is {}."
tmp.format('This', 'a pen')
#> 'This is a pen.'

### 3.1.4 論理値

In [ ]:
1 <= 2
#> True

1 < 0
#> False

In [ ]:
0.1 + 0.1 + 0.1 == 0.3
#> False

import math
math.isclose(0.1 + 0.1 + 0.1, 0.3)
#> True

In [ ]:
True and False # 論理積（かつ）
#> False

True or False  # 論理和（または）
#> True

not True       # 否定（でない）
#> False

#### 3.1.4.1 条件演算子

In [ ]:
0 if 3 < 5 else 10
#> 0

### 3.1.5 作業ディレクトリ

In [ ]:
import os
os.getcwd()
#> '/home/jovyan/work'

In [ ]:
os.chdir('..')
os.getcwd()
#> '/home/jovyan'

## 3.2 関数

### 3.2.1 関数の利用

In [ ]:
import math
math.sqrt(4)
#> 2.0

In [ ]:
math.log(100, 10)
#> 2.0

In [ ]:
math.log(100)         # 自然対数
# あるいは
math.log(100, math.e) # 省略しない場合

#> 4.605170185988092

In [ ]:
math.log10(100) # 常用対数
#> 2.0

math.log2(1024) # 底が2の対数
#> 10.0

#### 3.2.1.1 パイプ（Rのみ）

### 3.2.2 関数の定義

In [ ]:
def f(a, b):
    return a - b

In [ ]:
f(3, 5)
#> -2

#### 3.2.2.1 デフォルト引数

In [ ]:
def f(a, b=5):
    return a - b

f(3) # f(3, 5)と同じこと
#> -2

#### 3.2.2.2 無名関数

In [ ]:
(lambda a, b: a - b)(3, 5)
#> -2

## 3.3 コレクション

### 3.3.1 1次元データ

In [ ]:
x = ['foo', 'bar', 'baz']

In [ ]:
len(x)
#> 3

In [ ]:
x[1]
#> 'bar'

In [ ]:
x[1] = 'BAR'
x # 結果の確認
#> ['foo', 'BAR', 'baz']

x[1] = 'bar' # 元に戻す．

In [ ]:
x[-2]
#> 'bar'

In [ ]:
x + ['qux']
#> ['foo', 'bar', 'baz', 'qux']

In [ ]:
x = x + ['qux']
# あるいは
#x.append('qux')

x # 結果の確認
#> ['foo', 'bar', 'baz', 'qux']

#### 3.3.1.1 等間隔の数値からなる1次元データ

In [ ]:
list(range(5))
#> [0, 1, 2, 3, 4]

In [ ]:
list(range(0, 11, 2))
#> [0, 2, 4, 6, 8, 10]

In [ ]:
import numpy as np
np.arange(0, 1.1, 0.5)
#> array([0. , 0.5, 1. ])

In [ ]:
np.linspace(0, 100, 5)
#> array([ 0., 25., 50., 75., 100.])

In [ ]:
[10] * 5
#> [10, 10, 10, 10, 10]

#### 3.3.1.2 ファクタ（Rのみ）

### 3.3.2 数値計算やデータ解析用の1次元データ

In [ ]:
import numpy as np
x = np.array([2, 3, 5, 7])

x + 10 # 加算
#> array([12, 13, 15, 17])

x * 10 # 乗算
#> array([20, 30, 50, 70])

In [ ]:
x = [2, 3]
np.sin(x)
#> array([0.90929743, 0.14112001])

In [ ]:
x = np.array([2,  3,   5,    7])
y = np.array([1, 10, 100, 1000])
x + y
#> array([   3,   13,  105, 1007])

x * y
#> array([   2,   30,  500, 7000])

In [ ]:
np.dot(x, y)
# あるいは
x @ y

#> 7532

In [ ]:
x = np.array([True, False])
y = np.array([True, True])
x & y
#> array([ True, False])

#### 3.3.2.1 1次元データ同士の比較

In [ ]:
u = np.array([1, 2, 3])
v = np.array([1, 2, 3])
w = np.array([1, 2, 4])

all(u == v) # 全体の比較
#> True

all(u == w) # 全体の比較
#> False

u == v      # 要素ごとの比較
#> array([ True,  True,  True])

u == w      # 要素ごとの比較
#> array([ True,  True, False])

In [ ]:
(u == w).sum()  # 同じ要素の数
#> 2

(u == w).mean() # 同じ要素の割合
#> [1] 0.6666667

### 3.3.3 複数種類のデータをひとまとめにする

In [ ]:
x = [1, "two"]

In [ ]:
x[1]
#> 'two'

### 3.3.4 文字列と値のペアのコレクション

In [ ]:
x = {'apple' : 'りんご',
     'orange': 'みかん'}

In [ ]:
x['grape'] = 'ぶどう'

In [ ]:
x['apple']
# あるいは
tmp = 'apple'
x[tmp]

#> 'りんご'

### 3.3.5 補足：コピーと参照

In [ ]:
x = ['foo', 'bar', 'baz']
y = x
y[1] = 'BAR' # yを更新する．
y
#> ['foo', 'BAR', 'baz']

x            # xも変わる．
#> ['foo', 'BAR', 'baz']

In [ ]:
x = ['foo', 'bar', 'baz']
y = x.copy()             # 「y = x」とせずに，コピーする．
x == y, x is y
#> (True, False)         # xとyは，等価（内容は同じ）だが同一ではない．

y[1] = 'BAR'             # yを更新しても，
x
#> ['foo', 'bar', 'baz'] # xは変化しない．

## 3.4 データフレーム

### 3.4.1 データフレームの作成

In [ ]:
import pandas as pd

#### 3.4.1.1 データを列ごとに記述する方法

In [ ]:
my_df = pd.DataFrame({
    'name':    ['A', 'B', 'C', 'D'],
    'english': [ 60,  90,  70,  90],
    'math':    [ 70,  80,  90, 100],
    'gender':  ['f', 'm', 'm', 'f']})

#### 3.4.1.2 データを見た目のとおりに記述する方法

In [ ]:
my_df = pd.DataFrame([
    ['A', 60,  70, 'f'],
    ['B', 90,  80, 'm'],
    ['C', 70,  90, 'm'],
    ['D', 90, 100, 'f']],
    columns=['name', 'english',
             'math', 'gender'])

In [ ]:
my_df.head()
# 結果は割愛

#### 3.4.1.3 データフレームのサイズ

In [ ]:
r, c = my_df.shape # 行数と列数
r, c
#> (4, 4)

r # 行数（len(my_df)も可）
#> 4

c # 列数
#> 4

#### 3.4.1.4 組合せ

In [ ]:
from itertools import product
my_df2 = pd.DataFrame(
    product([1, 2, 3],
            [10, 100]),
    columns=['X', 'Y'])
my_df2
#>    X    Y
#> 0  1   10
#> 1  1  100
#> 2  2   10
#> 3  2  100
#> 4  3   10
#> 5  3  100

#### 3.4.1.5 列と行の名前

In [ ]:
my_df2.columns
#> Index(['X', 'Y'], dtype='object')

In [ ]:
my_df2.columns = ['P', 'Q']
my_df2
#>    P    Q
#> 0  1   10
#> 1  1  100
# 以下省略

In [ ]:
list(my_df.index)
#> [0, 1, 2, 3]

In [ ]:
my_df2.index = [
    'a', 'b', 'c', 'd', 'e', 'f']
my_df2
#>    P    Q
#> a  1   10
#> b  1  100
#> c  2   10
# 以下省略

In [ ]:
my_df3 = pd.DataFrame({
    'english': [ 60,  90,  70,  90],
    'math':    [ 70,  80,  90, 100],
    'gender':  ['f', 'm', 'm', 'f']},
    index=     ['A', 'B', 'C', 'D'])
my_df3
#>    english  math gender
#> A       60    70      f
#> B       90    80      m
#> C       70    90      m
#> D       90   100      f

### 3.4.2 データの追加

#### 3.4.2.1 行の追加（データフレームの結合）

In [ ]:
tmp = pd.DataFrame({
    'name'   : ['E'],
    'english': [80],
    'math'   : [80],
    'gender' : ['m']})
my_df2 = my_df.append(tmp)

#### 3.4.2.2 列の追加

In [ ]:
my_df2 = my_df.assign(id=[1, 2, 3, 4])

In [ ]:
my_df3 = my_df.copy()       # コピー
my_df3['id'] = [1, 2, 3, 4] # 更新
my_df3 # 結果の確認（割愛）

### 3.4.3 データの取り出し

#### 3.4.3.1 観測値の取り出し

In [ ]:
my_df.iloc[0, 1]
#> 60

#### 3.4.3.2 1列の取り出し（結果は1次元データ）

In [ ]:
x = my_df.iloc[:, 1]
# あるいは
x = my_df['english']
# あるいは
x = my_df.english
# あるいは
tmp = 'english'
x = my_df[tmp]

x # 結果の確認（割愛）

#### 3.4.3.3 複数列の取り出し（結果はデータフレーム）

In [ ]:
x = my_df[['name', 'math']]
# あるいは
x = my_df.loc[:, ['name', 'math']]

In [ ]:
x = my_df.take([0, 2], axis=1)
# あるいは
x = my_df.iloc[:, [0, 2]]

In [ ]:
x = my_df.drop(
    columns=['english', 'gender'])
# あるいは
x = my_df.drop(
    columns=my_df.columns[[1, 3]])

#### 3.4.3.4 複数行の取り出し（結果はデータフレーム）

In [ ]:
x = my_df.take([0, 2])
# あるいは
x = my_df.iloc[[0, 2], :]

In [ ]:
x = my_df.drop([1, 3])

#### 3.4.3.5 検索

In [ ]:
x = my_df[my_df['gender'] == 'm']
# あるいは
x = my_df.query('gender == "m"')

In [ ]:
x = my_df[(my_df['english'] > 80) & (my_df['gender'] == "m")]
# あるいは
x = my_df.query('english > 80 and gender == "m"')

In [ ]:
x = my_df[my_df['english'] == my_df['english'].max()]
# あるいは
tmp = my_df['english'].max()
x = my_df.query('english == @tmp')

In [ ]:
my_df2 = my_df.copy() # コピー
my_df2.loc[my_df['gender'] == 'm', 'gender'] = 'M'

In [ ]:
my_df2
#>   name  english  math gender
#> 0    A       60    70      f
#> 1    B       90    80      M
#> 2    C       70    90      M
#> 3    D       90   100      f

#### 3.4.3.6 並べ替え

In [ ]:
x = my_df.sort_values('english')

In [ ]:
x = my_df.sort_values('english',
    ascending=False)

### 3.4.4 補足：行列

#### 3.4.4.1 行列の生成

In [ ]:
import numpy as np
x = [2, 3, 5, 7, 11, 13, 17, 19, 23,
     29, 31, 37]
A = np.array(x).reshape(3, 4)
A
#> array([[ 2,  3,  5,  7],
#>        [11, 13, 17, 19],
#>        [23, 29, 31, 37]])

#### 3.4.4.2 データフレームと行列

In [ ]:
A = my_df.iloc[:, [1, 2]].values
A
#> array([[ 60,  70],
#>        [ 90,  80],
#>        [ 70,  90],
#>        [ 90, 100]])

In [ ]:
pd.DataFrame(A)
#>     0    1
#> 0  60   70
#> 1  90   80
#> 2  70   90
#> 3  90  100

#### 3.4.4.3 行列の変形

In [ ]:
A.T
#> array([[ 60,  90,  70,  90],
#>        [ 70,  80,  90, 100]])

#### 3.4.4.4 行列の積

In [ ]:
A.T @ A
#> array([[24700, 26700],
#>        [26700, 29400]])

### 3.4.5 縦型と横型

In [ ]:
my_df = pd.DataFrame({
    'day': [25, 26, 27],
    'min': [20, 21, 15],
    'max': [24, 27, 21]})

In [ ]:
my_longer = my_df.melt(id_vars='day')
my_longer
#>    day variable  value
#> 0   25      min     20
#> 1   26      min     21
#> 2   27      min     15
#> 3   25      max     24
#> 4   26      max     27
#> 5   27      max     21

In [ ]:
my_wider = my_longer.pivot(
    index='day',
    columns='variable',
    values='value')
my_wider
#> variable  max  min
#> day
#> 25         24   20
#> 26         27   21
#> 27         21   15

In [ ]:
my_wider.plot(
    style='o-',
    xticks=my_wider.index, # x軸目盛り
    ylabel='temperature')  # y軸ラベル

## 3.5 1次元データの（非）類似度

### 3.5.1 ユークリッド距離

In [ ]:
import numpy as np
from scipy.spatial import distance
from scipy.stats import pearsonr

A = np.array([3,   4,  5])
B = np.array([3,   4, 29])
C = np.array([9, -18,  8])

distance.euclidean(A, B)
#> 24.0

distance.euclidean(A, C)
#> 23.0

### 3.5.2 マンハッタン距離

In [ ]:
distance.cityblock(A, B)
#> 24

distance.cityblock(A, C)
#> 31

### 3.5.3 コサイン類似度

In [ ]:
1 - distance.cosine(A, B)
#> 0.8169678632647616

1 - distance.cosine(A, C)
#> -0.032651157422416865

### 3.5.4 相関係数

In [ ]:
1 - distance.correlation(A, B)
# あるいは
pearsonr(A, B)[0]
#> 0.8824975032927698

1 - distance.correlation(A, C)
# あるいは
pearsonr(A, C)[0]
#> -0.032662766723200676

#### 3.5.4.1 データフレームを使う方法

In [ ]:
# 小数点以下は3桁表示
np.set_printoptions(precision=3)
import pandas as pd

my_df = pd.DataFrame({
    'x': [3,  3,   9],
    'y': [4,  4, -18],
    'z': [5, 29,   8]},
    index=['A', 'B', 'C'])

# ユークリッド距離
distance.cdist(my_df, my_df,
               metric='euclidean')
#> array([[ 0., 24., 23.],
#>        [24.,  0., 31.],
#>        [23., 31.,  0.]])

# マンハッタン距離
distance.cdist(my_df, my_df,
               metric='cityblock')
#> array([[ 0., 24., 31.],
#>        [24.,  0., 49.],
#>        [31., 49.,  0.]])

# コサイン類似度
1 - distance.cdist(my_df, my_df,
    metric='cosine')
#> array([[ 1.   ,  0.817, -0.033],
#>        [ 0.817,  1.   ,  0.293],
#>        [-0.033,  0.293,  1.   ]])

# 相関係数
1 - distance.cdist(my_df, my_df,
    metric='correlation')
#> array([[ 1.   ,  0.882, -0.033],
#>        [ 0.882,  1.   ,  0.441],
#>        [-0.033,  0.441,  1.   ]])

## 3.6 Rのパッケージ，Pythonのモジュール

### 3.6.1 Rのパッケージ

### 3.6.2 Pythonのモジュール

In [ ]:
import math
import numpy as np
import pandas as pd

In [ ]:
import numpy
numpy.array([1, 2, 3, 4])

In [ ]:
import numpy as np
np.array([1, 2, 3, 4])

In [ ]:
from numpy import array
array([1, 2, 3, 4])

In [ ]:
from numpy import *
array([1, 2, 3, 4])

## 3.7 反復処理

In [ ]:
import numpy as np
import pandas as pd

### 3.7.1 指定した回数→1次元データ

In [ ]:
def f1(x):
    tmp = np.random.random(x)
    return np.mean(tmp)

f1(10)                # 動作確認
#> 0.5427033207230424 # 結果の例

In [ ]:
[f1(10) for i in range(3)]
#> [0.4864425069985622,
#>  0.4290935578857099,
#>  0.535206509631883]

In [ ]:
[f1(10)] * 3
#> [0.43725641184595576,
#>  0.43725641184595576,
#>  0.43725641184595576]

### 3.7.2 1次元データ→1次元データ

In [ ]:
v = [5, 10, 100]
[f1(x) for x in v] # 方法1
#> [0.454, 0.419, 0.552]

# あるいは

v = pd.Series([5, 10, 100])
v.apply(f1)        # 方法2
#> 0    0.394206
#> 1    0.503949
#> 2    0.532698
#> dtype: float64

In [ ]:
pd.Series([10] * 3).apply(f1)
# 結果は割愛

### 3.7.3 1次元データ→データフレーム

In [ ]:
def f2(n):
    tmp = np.random.random(n)
    return pd.Series([
        n,
        tmp.mean(),
        tmp.std(ddof=1)],
        index=['x', 'p', 'q'])

f2(10) # 動作確認
#> x    10.000000
#> p     0.405898 （平均の例）
#> q     0.317374 （標準偏差の例）
#> dtype: float64

In [ ]:
v = pd.Series([5, 10, 100])
v.apply(f2)
#>        x         p         q
#> 0    5.0  0.507798  0.207970
#> 1   10.0  0.687198  0.264427
#> 2  100.0  0.487872  0.280743

### 3.7.4 データフレーム→データフレーム

In [ ]:
def f3(x, y):
    tmp = np.random.random(x) * y
    return pd.Series([
        x,
        y,
        tmp.mean(),
        tmp.std(ddof=1)],
        index=['x', 'y', 'p', 'q'])

f3(10, 6) # 動作確認
#> x    10.000000
#> y     6.000000
#> p     2.136413 （平均の例）
#> q     1.798755 （標準偏差の例）
#> dtype: float64

In [ ]:
my_df = pd.DataFrame({
    'x': [5, 10, 100,  5, 10, 100],
    'y': [6,  6,   6, 12, 12,  12]})

my_df.apply(
  lambda row: f3(row['x'], row['y']),
  axis=1)
# あるいは
my_df.apply(lambda row:
            f3(*row), axis=1)

#>        x     y    p    q
#> 0   5.00  6.00 3.37 1.96
#> 1  10.00  6.00 1.92 0.95
#> 2 100.00  6.00 2.90 1.73
#> 3   5.00 12.00 6.82 3.00
#> 4  10.00 12.00 7.05 2.42
#> 5 100.00 12.00 5.90 3.54

### 3.7.5 補足：反復処理の並列化

In [ ]:
from pandarallel import pandarallel
pandarallel.initialize() # 準備

v = pd.Series([5, 10, 100])
v.parallel_apply(f1)
# 結果は割愛

## 3.8 その他

### 3.8.1 よく遭遇するエラーとその対処方法

### 3.8.2 変数や関数についての調査

In [ ]:
x = 123
type(x)
#> int

In [ ]:
%whos
#> Variable   Type      Data/Info
#> ------------------------------
#> x          int       123

In [ ]:
import math
?math.log
# あるいは
help(math.log)

### 3.8.3 RのNA，Pythonのnan

In [ ]:
import numpy as np
v = [1, np.nan, 3]
v
#> [1, nan, 3]

In [ ]:
np.isnan(v[1])
#> True

v[1] == np.nan # 誤り
#> False